<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Project Details')"></head>
<body>
<div th:replace="layout :: header"></div>
<div th:replace="layout :: nav"></div>
<section>
    <div class="container wrapper">
        <div class="project-list single">
            <div class="project">
                <h2 th:text="${project.name}"></h2>
                <p th:text="${project.description}"></p>
                <span class="tag active">Active</span>
            </div>
            <div class="roles-collaborators">
                <h3>Roles &amp; Collaborators</h3>
                <div>
                    <ul class="list-item" >
                        <div th:each="role : ${project.rolesNeeded}">
                            <li>
                                <span class="primary" th:text="${role.name}"></span>
                                <span class="secondary">Michael Pemulis</span>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="actions">
                <a class="button" th:href="@{|/projects/${project.id}/edit|}" >Edit Project</a>
                <a class="button" href="project_collaborators.html">Edit Collaborators</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>