<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('New Project')"></head>
<body>
<div th:replace="layout :: header"></div>
<div th:replace="layout :: nav"></div>
<section>
    <div class="container wrapper">
        <form th:action="@{/projects}" method="post" th:object="${project}" >
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label> Project Name:</label>
                <input type="text" th:field="*{name}"/>
            </div>
            <div>
                <label>Project Description:</label>
                <textarea rows="4" th:field="*{description}"></textarea>
            </div>
            <div>
                <label>Project Status:</label>
                <div class="custom-select">
                    <span class="dropdown-arrow"></span>
                    <select th:field="*{status}" name="project_status">
                        <option th:each="status : ${statuses}" th:value="${status.name}" th:text="${status.name}"></option>
                    </select>
                </div>
            </div>
            <!--<div class="actions add-new-collaborator">-->
                <!--<div class="custom-select">-->
                    <!--<span class="dropdown-arrow"></span>-->
                    <!--<select th:field="*{rolesNeeded}">-->
                        <!--<option value="#">Role...</option>-->
                        <!--<option th:each="role : ${roles}"-->
                                <!--th:value="${role.id}"-->
                                <!--th:text="${role.name}">-->
                            <!--&lt;!&ndash;<input type="hidden" th:field="*{role.id}" th:value="${role.id}"/>&ndash;&gt;-->
                        <!--</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <div>
                <label>Project Roles:</label>
                <ul class="checkbox-list" >
                    <div th:each="role : ${roles}">
                        <li>
                            <input type="checkbox" th:field="*{rolesNeeded}" th:value="${role.id}"/>
                            <input type="hidden" th:field="*{id}"/>
                            <span class="primary" th:text="${role.name}">Role</span>
                        </li>
                        <!--<div th:each="role,stat : ${roles}">-->
                        <!--<li>-->
                            <!--<input type="checkbox" th:field="*{rolesNeeded[__${stat.index}__].id}" th:value="${role.id}"/>-->
                            <!--<input type="hidden" th:field="*{rolesNeeded[__${stat.index}__].name}" th:value="${role.name}"/>-->
                            <!--<span class="primary" th:text="${role.name}"></span>-->
                        <!--</li>-->
                    </div>
                </ul>
            </div>
            <div class="actions">
                <button type="submit" th:value="${submit}" class="button">Add</button>
                <a th:href="@{/projects}" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>